$pink: #ffaad2;
$purple: #c8abe8;
$blue: #86abff;
$green-blue: #86e8e0;
$green-yellow: #acffb3;
$dark-green: #7cfa86;
$yellow: #d9ec85;
$dark-orange: #c78f6a;
$red: #ee8484;
$gray: #fcf7f4;
$white: #ffffff;
$dark-gray: #a8a8a8;
$black: #5a5a5a;
$facebook: #4267b2;
